* {
    margin: 0;
    padding: 0;
}

body, html {
    background: #23252C;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#root {
    margin: 15px 0px 15px 0px;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 375px;
    background-color: #1A1B21;
    overflow: hidden;
    border-radius: 12.5px;
    font-family: 'Inter', sans-serif;
    color: white;
}

.text-center, .links {
    text-align: center;
    padding: 15px 0px 10px 0px;
}

.interest-section {
    padding: 2.5rem 0rem;
}

.information {
    display: flex;
    flex-direction: column;
    padding: 15px 40px;
    text-align: left;
}

.information p {
    font-size: 12.75px;
    color: #DCDCDC;
    line-height: 150%;
    font-style: normal;
}

.container img {
   width: 375px;
}

.footer-icons {
    display: flex;
    justify-content: center;
    font-size: 35px;
}

.footer-icons i {
    padding-right: 1rem;
    color: #918E9B;
}

.links button {
    padding: 10px 20px;
    font-size: 18.5px;
    border-radius: 6px;
    margin-right: 0.5rem;
    border: unset;
    line-height: 16px;
    font-weight: 500;
}

.email {
    background-color: white;
}

.git-b {
    background-color: #6e5494;
    color: white;
}

footer {
    background-color: #161619;
    padding: 10px 0px;
}

.links button:hover, .footer-icons:hover {
    cursor: pointer;
}

.color {
    color: #F3BF99;
    line-height: 15px;
    font-size: 12.75px;
    margin-bottom: 15px;
}

.website {
    font-size: 11.5px;
}